<div class="outline">
    <div class="card" style="background-image: {{if (eq this.view "list")
    "linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0%, #888888 14%, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%),"
    "linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 100%),"}}
    url(assets/img/{{this.person.picture}});" 
    alt="Picture of {{this.person.name}}"
    {{did-update this.changeView @view}}
    >
        <div class="card-body" style={{if (eq this.view "list") "background-image: 
    linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0%, #888888 19.79%, #666666 50%, rgba(51, 51, 51, 0.6) 71.88%),"}}>
            <div class="card-title">
                <div class="winner">
                    {{#if this.greater}}
                        <button class="thumbs-up">
                            <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
                        </button>
                    {{else}}
                        <button class="thumbs-down" aria-label="thumbs down">
                            <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
                        </button>
                    {{/if}}
                </div>
                <div id="title-text">
                    <div class="title">
                        {{this.person.name}}
                        <EmberTooltip>
                            {{this.person.name}}
                        </EmberTooltip>
                    </div>
                    <div class="description">
                        {{this.person.description}}
                        <EmberTooltip>
                            {{this.person.description}}
                        </EmberTooltip>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="date-section">
                    {{#unless this.voted}}
                        <span>    
                            {{this.timeFromNow}}
                        </span> in
                        <span>
                            {{this.person.category}}
                        </span>
                    {{else}}
                        Thank you for your vote!
                    {{/unless}}
                </div>
                <div class="voting-buttons">
                    {{#unless this.voted}}
                        <button {{on "click" this.sumOnePositive}} class="icon-button" aria-label="thumbs up">
                            <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
                        </button>
                        <button {{on "click" this.sumOneNegative}} class="icon-button" aria-label="thumbs down">
                            <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
                        </button>
                    {{/unless}}
                    {{#unless this.voted}}
                        <button type="button" class="vote-button">
                            Vote Now
                        </button>
                    {{else}}
                        <button type="button" class="vote-button">
                            Vote Again
                        </button>
                    {{/unless}}
                </div>
            </div>
        </div>
        <div class="percentage-bar">
            <button class="icon-button thumbs" aria-label="thumbs up" style="width: {{this.positivePercentage}}%">
                <img src="assets/img/thumbs-up.svg" alt="thumbs up" /> {{this.positivePercentage}}
            </button>
            <button class="icon-button thumbs" aria-label="thumbs down" style="width: {{this.negativePercentage}}%">
                {{this.negativePercentage}} <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
            </button>
        </div>
    </div>
</div>