<div class="card-container">
    <div class="card" style="background-image: url(assets/img/{{this.person.picture}});" alt="Picture of {{this.person.name}}">
        <div class="card-title">
            <span class="thumbs">
                <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
            </span>
            <span>
                {{this.person.name}}
            </span>
        </div>
        <div>
            {{this.person.description}}
        </div>
        <div class="">
            {{#unless this.voted}}
                <span>    
                    {{this.timeFromNow}}
                </span> in
                <span>
                    {{this.person.category}}
                </span>
            {{else}}
                Thank you for your vote!
            {{/unless}}
        </div>
        <div class="">
            {{#unless this.voted}}
                <button class="icon-button" aria-label="thumbs up">
                    <img src="assets/img/thumbs-up.svg" alt="thumbs up" />
                </button>
                <button class="icon-button" aria-label="thumbs down">
                    <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
                </button>
            {{/unless}}
            {{#unless this.voted}}
                <button class="">
                    Vote Now
                </button>
                {{else}}
                    <button class="">
                        Vote Again
                    </button>
            {{/unless}}
        </div>
        <div class="percentage-bar">
            <button class="icon-button thumbs" aria-label="thumbs up" style="width: {{this.positivePercentage}}%">
                <img src="assets/img/thumbs-up.svg" alt="thumbs up" /> {{this.positivePercentage}}
            </button>
            <button class="icon-button thumbs" aria-label="thumbs down" style="width: {{this.negativePercentage}}%">
                {{this.negativePercentage}} <img src="assets/img/thumbs-down.svg" alt="thumbs down" />
            </button>
        </div>
    </div>
</div>