<img src="assets/img/{{this.person.picture}}" alt="thumbs up" />
<div>
    {{this.person.name}}
</div>
<div>
    {{this.person.description}}
</div>
<div>
    {{#unless this.voted}}
        <span>    
            {{this.timeFromNow}}
        </span> in
        <span>
            {{this.person.category}}
        </span>
    {{else}}
        Thank you for your vote!
    {{/unless}}
</div>
<div>
    <div class="featured-card__buttons">
    <button class="icon-button" aria-label="thumbs up">
        <img src="assets/img/thumbs-up.svg" alt="thumbs up" />{{this.positivePercentage}}
    </button>
    <button class="icon-button" aria-label="thumbs down">
        <img src="assets/img/thumbs-down.svg" alt="thumbs down" /> {{this.negativePercentage}}
    </button>
    </div>
</div>